{% extends "base.html" %}
{% load i18n comments %}
{% load url from future %}


{% block anonymous_content %}
	{% if match %}
		<article>
			<header>
				<h2>
					{% trans 'Match played on' %}
					{{ match.date }}
					<br>
					{{ match.winner.user_profile.user.username }}
					{% trans 'won' %}
					{{ match.loser.user_profile.user.username }}
					{{ match.result }}
				</h2>
			</header>
			{% render_comment_list for match %}
		</article>
	{% endif %}
{% endblock %}

{% block user_content %}
	{% if match %}
		<article>
			<header>
				<h2>{% trans 'Enter a comment about this match' %}</h2>
			</header>
			{% render_comment_form for match %}
		</article>
	{% endif %}
{% endblock %}
