{% extends "base.html" %}
{% load i18n %}
{% load url from future %}


{% block user_content %}

    <form method="POST" action=""> {# doubt this easy to do in uni-form #}
        {% csrf_token %}
        <table class="notice_settings">
            <tr>
                <th>{% trans "Notification Type" %}</th>
                {% for header in notice_settings.column_headers %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
            {% for row in notice_settings.rows %}
                <tr>
                    <td>{% trans row.notice_type.display %}<br/>
                        <span class="notice_type_description">{% trans row.notice_type.description %}</span>
                    </td>
                    {% for cell in row.cells %}
                        <td>
                            <input type="checkbox" name="{{ cell.0 }}" {% if cell.1 %}checked="yes"{% endif %}/>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            <tr>
                <td><input type="submit" value="{% trans "Change" %}" /></td>
            </tr>
        </table>
    </form>

	
{% endblock %}
