{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block anonymous_content %}

	{% if form.errors %}
		{{ form.non_field_errors }}
	{% endif %}

    <div id="form">
		<form method="post" action="{% url 'accounts.views.register' %}">
		    {% csrf_token %}
		    
            <div id="form_elem">
                <label for="id_email">{% trans 'Email' %}</label>
                {{ form.email }}
                {{ form.email.errors }}
            </div>
           
            <div id="form_elem">
                <label for="id_pass1">{% trans 'Password' %}</label>
                {{ form.pass1 }}
                {{ form.pass1.errors }}
            </div>
            
            <div id="form_elem">
                <label for="id_pass2">{% trans 'Password confirmation' %}</label>
                {{ form.pass2 }}
                {{ form.pass2.errors }}
            </div>
            
			<div id="form_action">
			    <input type="submit" value="{% trans 'Register me!' %}" class="button"/>
			</div>
		</form>
	</div>	
{% endblock %}
