{% extends "base.html" %}
{% load url from future %}
{% load i18n %}


{% block user_content %}
	
	<div id="court_setup">
    	<h2>{{ court_setup.name|capfirst }}</h2>
    
		{% if form.errors %}
    	    {{ form.non_field_errors }}
		{% endif %}
		
    	<div id="form">
	    	<form method="post" action="#">
	    		{% csrf_token %}
			    
			    <div id="form_elem">
				    <label for="id_for_date">{% trans 'Date' %}</label>
				    {{ form.for_date }}
				    {{ form.for_date.errors }}
		        </div>
		       
		       	<input type="hidden" name="today_date" value="{{ today_date }}"/>
		       	<input type="hidden" name="prev_date" value="{{ prev_date }}"/>
		       	<input type="hidden" name="next_date" value="{{ next_date }}"/>
		       
		        <div id="form_action">
				    <input type="submit" value="{% trans 'Show' %}" class="button"/>
				</div>
		        <div id="form_action">
		       		<input type="button" value="{% trans 'Today' %}" class="button" onclick="javascript:goDay();"/> 
				</div>
	    	</form>
	    </div>
	    
	    <div id="day_shorcuts">
		    <article>
		        <header>
		            <script>
						$(function ( ) 
						{
		                    $.blockUI ({ 
		                        message: "{% trans 'Loading ...' %}",
		                        css: { 
		                            border: 'none', 
		                            padding: '15px', 
		                            backgroundColor: '#000', 
		                            opacity: .5, 
		                            color: '#fff'
		                        }
		                    });
		                    loadData ( );
							$("#id_for_date").datepicker ({
								onSelect: function (dateText, inst) 
								 		  {
										      document.forms[0].submit ( );
										  }
							});
						});
						function loadData ( )
						{
							$.ajax ({    url: '{% url "reservations.views.club_view" %}',
										type: 'POST',
										data: {'for_date': $("#id_for_date").val ( ), 
											   'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val ( )},
									   cache: false,
									 success: function (data)
									          {
										          $('#court_setup').append (data);
										          $.unblockUI ( );
										      },
									});
							return;
						};
		                function goDay (opt)
		                {
		                	switch (opt)
		                	{
		                		case -1: 
		                			new_d = $('input[name="prev_date"]').val ( );
		                			break;
		                		case 1:
		                			new_d = $('input[name="next_date"]').val ( );
		                			break;
		                		default:
		                			new_d = $('input[name="today_date"]').val ( );
		                	}
		                	document.forms[0].for_date.value = new_d;
		                	document.forms[0].submit ( );
		                	return;
		                };
		            </script>
		        </header>
		        <div id="day_shortcuts_left">
				    <a href="javascript:goDay(-1);" class="small_button"><< {% trans 'Previous week' %}</a>
			    </div>
		        <div id="day_shortcuts_right">
				    <a href="javascript:goDay(1);" class="small_button">{% trans 'Next week' %} >></a>
			    </div>
		    </article>
		</div>
	</div>
	
{% endblock %}
