{% extends "base.html" %}
{% load i18n %}
{% load url from future %}
{% load reservation_tags %}



{% block user_content %}
	
	<div id="court_setup">
    	<h2>{{ court_setup.name|capfirst }}</h2>
    
		{% if form.errors %}
    	    {{ form.non_field_errors }}
		{% endif %}
		
    	<div id="form">
	    	<form method="post" action="#">
	    		{% csrf_token %}
			    
			    <div id="form_elem">
				    <label for="id_for_date">{% trans 'Date' %}</label>
				    {{ form.for_date }}
				    {{ form.for_date.errors }}
		        </div>
		       
		        {{ form.today_date }} 
		        {{ form.prev_date }}
		        {{ form.next_date }}
		       
		        <div id="form_action"> 
				    <input type="submit" value="{% trans 'Show' %}" class="button"/>
				</div>
	    	</form>
	    </div>
	    
	    <div id="day_shorcuts">
		    <article>
		        <header>
		            <script>
						$(function ( ) 
						{
							$("#id_for_date").datepicker (
								{onSelect: function (dateText, inst) 
								 		   {
										       document.forms[0].submit ( );
										   }
								});
						});
		                function prevDay ( )
		                {
		                	document.forms[0].for_date.value = 
		                	    document.forms[0].prev_date.value;
		                	document.forms[0].submit ( );
		                	return;
		                }
		                function nextDay ( )
		                {
		                	document.forms[0].for_date.value =
		                		document.forms[0].next_date.value;
		                	document.forms[0].submit ( );
		                	return;
		                }
		            </script>
		        </header>
		        <div id="day_shortcuts_left">
				    <a href="javascript:prevDay();" class="small_button"><< {{ form.prev_date.value|date:'l, j F Y'|capfirst }}</a>
			    </div>
		        <div id="day_shortcuts_right">
				    <a href="javascript:nextDay();" class="small_button">{{ form.next_date.value|date:'l, j F Y'|capfirst }} >></a>
			    </div>
		    </article>
		</div>
		
		<table class="reservation">
		    <caption>
	            {{ form.for_date.value|date:'l, j F Y'|capfirst }}
			</caption>
	        <thead>
	        	<tr>
                <th scope="col">&nbsp;</th>
                {% for court in court_list %}
                    <th scope="col">{% trans 'Court' %} {{ court.number }}</th>
                {% endfor %}
                </tr>
	        </thead>
            <tbody>
				{% for h, hour in hour_list %}
					<tr {% if forloop.counter|divisibleby:2 %}class="odd"{% endif %}>
						<th scope="row">
							{{ hour }}
	                  	</th>
		                {% reservations_per_court court_list form.for_date.value h %}
	                </tr>
	            {% endfor %}
	        </tbody>
	       	<tfoot>
               	<tr>
                   	<th scope="row">&nbsp;</th>
                       <td colspan="10">&nbsp;</td>
                  	</tr>
	        </tfoot>
        </table>
	</div>
	
{% endblock %}
